@import 'params.scss';

@keyframes element-move {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  65% {
    opacity: 0.2;
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fuzZz-move {
    from {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    to {
        transform: translateX(0px);
    }
}
