@import '../partials/_params.scss';
@import '../partials/_mixins.scss';
@import '../partials/_animations.scss';

// Section Styles
.game--movies {
    @include clear;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @include clear;
    }

    ul {
        @include clear-list;
    }

    a {
        text-decoration: none;
    }

    button {
        font-family: 'Montserrat', sans-serif;
    }

    &__content {
        @include for-landscape-phones-and-smaller {
            min-height: 550px;
            max-width: 90%;
            border-radius: 120px 4px 4px 4px;
        }
        font-family: 'Montserrat', sans-serif;
        position: relative;
        box-sizing: border-box;
        border-radius: 200px 4px 4px 4px;
        min-height: 710px;
        max-width: 850px;
        margin: 20px auto;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        box-shadow: 8px 8px 0px darken($global-gold-NY, 5%), -8px -8px 0px darken($global-gold-NY, 5%), 0 1px 4px rgba(0,0,0,.4);
    }
    &__intro {
        @include for-landscape-phones-and-smaller {
            background-position: center center;
        }
        background: linear-gradient(lighten(transparentize($global-gold-NY, .25), 40%), darken(transparentize($global-red-NY, .45), 45%)), url(https://b1.m24.ru/c/1158210.730xp.jpg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        min-height: inherit;
        max-height: inherit;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .info-box {
            @include for-landscape-phones-and-smaller {
                width: calc(100% - 20px);
                border-top: 0;
                background: darken(transparentize($global-sky-blue-NY, .7), 30%);
                border-radius: 3px;
                margin: 0 auto;
                padding: 0;
            }
            order: 1;
            margin-left: 20px;
            width: 330px;
            border-top: 3px solid transparentize(lighten($global-gold-NY, 20%), .25);
            padding: 0;
            background: linear-gradient(to bottom, darken(transparentize($global-sky-blue-NY, .5), 30%), darken(transparentize($global-blue-NY, .7), 20%), rgba(0,0,0,.0));
            &__desc {
                @include for-landscape-phones-and-smaller {
                    width: calc(100% - 20px);
                    font-size: 12px;
                    line-height: 14px;
                    padding: 10px 5px 10px 5px;
                }
                width: 310px;
                color: lighten($global-gold-NY, 25%);
                font-size: 14px;
                line-height: 24px;
                padding-top: 15px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .controls-box {
            @include for-landscape-phones-and-smaller {
                width: auto;
                height: 45px;
                margin-top: 20px;
                margin-left: 10px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
            }
            margin-left: 20px;
            margin-top: 25px;
            width: 330px;
            height: 65px;
            order: 2;
            &__game-start-btn {
                @include for-landscape-phones-and-smaller {
                    font-size: 20px;
                    width: auto;
                    margin: 0 auto;
                }
                cursor: pointer;
                outline: none;
                font-size: 30px;
                width: inherit;
                height: inherit;
                background: linear-gradient(to right, transparentize($global-red-NY, .65), darken($global-red-NY, 15%));
                border: 2px solid lighten($global-gold-NY, 15%);
                border-radius: 4px;
                color: lighten($global-gold-NY, 22%);
                box-shadow: 0 1px 3px rgba(0,0,0,0.25);
                transition: all .2s ease-out;
                &:hover {
                    background: linear-gradient(to right, transparentize($global-gold-NY, .5), darken($global-red-NY, 10%));
                    transform: rotate(-6deg);
                    & i {
                        transform: scale(1.22);
                        margin-left: 10px;
                    }
                }
                & i {
                    @include for-landscape-phones-and-smaller {
                        font-size: 20px;
                    }
                    margin-left: 5px;
                    font-size: 28px;
                    transition: all .2s ease-out;
                }
            }
        }
        .soc-net-share-box {
            @include for-landscape-phones-and-smaller {
                width: 100%;
                margin-top: 100px;
                display: block;
                margin-left: 0;
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 330px;
            margin-top: 130px;
            margin-bottom: 15px;
            margin-left: 20px;
            order: 0;
            &__list {
                @include for-landscape-phones-and-smaller {
                    width: inherit;
                    justify-content: center;
                }
                @include clear-list;
                display: flex;
            }
            &__item {
                border-radius: 50%;
                margin: 5px;
                min-width: 35px;
                min-height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 0 1px 3px rgba(0,0,0,0.45);
                transition: all .115s linear;
                & i {
                    font-size: 16px;
                }
            }
            &__item--vk {
                background-color: darken($global-red-NY, 7%);
                color: lighten($global-gold-NY, 20%);
                &:hover {
                    background-color: lighten($global-red-NY, 3%);
                }
                &:active {
                    background-color: lighten($global-vk, 10%);
                }
            }
            &__item--fa {
                background-color: darken($global-red-NY, 7%);;
                color: lighten($global-gold-NY, 20%);
                &:hover {
                    background-color: lighten($global-red-NY, 3%);
                }
                &:active {
                    background-color: lighten($global-fa, 10%);
                }
            }
            &__item--tw {
                background-color: darken($global-red-NY, 7%);
                color: lighten($global-gold-NY, 20%);
                &:hover {
                    background-color: lighten($global-red-NY, 3%);
                }
                &:active {
                    background-color: lighten($global-tw, 10%);
                }
            }
            &__item--te {
                background-color: darken($global-red-NY, 7%);
                color: lighten($global-gold-NY, 20%);
                &:hover {
                    background-color: lighten($global-red-NY, 3%);
                }
                &:active {
                    background-color: lighten($global-te, 10%);
                }
            }
        }
    }
    &__gameplay {
        @include for-landscape-phones-and-smaller {
            background-size: auto 200px;
        }
        position: relative;
        display: none;
        background-color: lighten($global-gold-NY, 13%);
        background-image: url("/styles/pattern01.svg");
        overflow: hidden;
        min-height: inherit;
        .steps-box {
            @include for-landscape-phones-and-smaller {
                width: 160px;
                height: 160px;
            }
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(50%) translateY(-60%);
            z-index: 9;
            width: 230px;
            height: 230px;
            background-color: transparentize(darken($global-red-NY, 15%), .3);
            border: 2px solid $global-gold-NY;
            border-radius: 50%;
            & span {
                @include for-landscape-phones-and-smaller {
                    margin-top: 110px;
                    font-size: 18px;
                }
                margin-top: 158px;
                color: lighten($global-gold-NY, 22%);
                font-size: 26px;
                font-weight: bold;
            }
            &__current {
                @include for-landscape-phones-and-smaller {
                    margin-left: 25px;
                }
                margin-right: 5px;
                margin-left: 35px;
            }
            &__in-total {
                margin-left: 5px;
            }
        }
        .question-box {
            &__pic-frame__container {
                @include for-landscape-phones-and-smaller {
                    height: 220px;
                }
                width: 100%;
                height: 430px;
                position: relative;
                overflow: hidden;
                background: $global-gold-NY url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2%0D%0AZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3%0D%0Ady53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hs%0D%0AaW5rIiB2ZXJzaW9uPSIxLjAiIHdpZHRoPSI2NHB4IiBoZWlnaHQ9IjY0cHgiIHZpZXdCb3g9IjAg%0D%0AMCAxMjggMTI4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0i%0D%0AMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjRDRCOTkwIiAvPjxnPjxwYXRoIGQ9Ik01OS42IDBo%0D%0AOHY0MGgtOFYweiIgZmlsbD0iI2ZmZmZmZiIgZmlsbC1vcGFjaXR5PSIxIi8+PHBhdGggZD0iTTU5%0D%0ALjYgMGg4djQwaC04VjB6IiBmaWxsPSIjZmZmZmZmIiBmaWxsLW9wYWNpdHk9IjAuMiIgdHJhbnNm%0D%0Ab3JtPSJyb3RhdGUoMzAgNjQgNjQpIi8+PHBhdGggZD0iTTU5LjYgMGg4djQwaC04VjB6IiBmaWxs%0D%0APSIjZmZmZmZmIiBmaWxsLW9wYWNpdHk9IjAuMiIgdHJhbnNmb3JtPSJyb3RhdGUoNjAgNjQgNjQp%0D%0AIi8+PHBhdGggZD0iTTU5LjYgMGg4djQwaC04VjB6IiBmaWxsPSIjZmZmZmZmIiBmaWxsLW9wYWNp%0D%0AdHk9IjAuMiIgdHJhbnNmb3JtPSJyb3RhdGUoOTAgNjQgNjQpIi8+PHBhdGggZD0iTTU5LjYgMGg4%0D%0AdjQwaC04VjB6IiBmaWxsPSIjZmZmZmZmIiBmaWxsLW9wYWNpdHk9IjAuMiIgdHJhbnNmb3JtPSJy%0D%0Ab3RhdGUoMTIwIDY0IDY0KSIvPjxwYXRoIGQ9Ik01OS42IDBoOHY0MGgtOFYweiIgZmlsbD0iI2Zm%0D%0AZmZmZiIgZmlsbC1vcGFjaXR5PSIwLjMiIHRyYW5zZm9ybT0icm90YXRlKDE1MCA2NCA2NCkiLz48%0D%0AcGF0aCBkPSJNNTkuNiAwaDh2NDBoLThWMHoiIGZpbGw9IiNmZmZmZmYiIGZpbGwtb3BhY2l0eT0i%0D%0AMC40IiB0cmFuc2Zvcm09InJvdGF0ZSgxODAgNjQgNjQpIi8+PHBhdGggZD0iTTU5LjYgMGg4djQw%0D%0AaC04VjB6IiBmaWxsPSIjZmZmZmZmIiBmaWxsLW9wYWNpdHk9IjAuNSIgdHJhbnNmb3JtPSJyb3Rh%0D%0AdGUoMjEwIDY0IDY0KSIvPjxwYXRoIGQ9Ik01OS42IDBoOHY0MGgtOFYweiIgZmlsbD0iI2ZmZmZm%0D%0AZiIgZmlsbC1vcGFjaXR5PSIwLjYiIHRyYW5zZm9ybT0icm90YXRlKDI0MCA2NCA2NCkiLz48cGF0%0D%0AaCBkPSJNNTkuNiAwaDh2NDBoLThWMHoiIGZpbGw9IiNmZmZmZmYiIGZpbGwtb3BhY2l0eT0iMC43%0D%0AIiB0cmFuc2Zvcm09InJvdGF0ZSgyNzAgNjQgNjQpIi8+PHBhdGggZD0iTTU5LjYgMGg4djQwaC04%0D%0AVjB6IiBmaWxsPSIjZmZmZmZmIiBmaWxsLW9wYWNpdHk9IjAuOCIgdHJhbnNmb3JtPSJyb3RhdGUo%0D%0AMzAwIDY0IDY0KSIvPjxwYXRoIGQ9Ik01OS42IDBoOHY0MGgtOFYweiIgZmlsbD0iI2ZmZmZmZiIg%0D%0AZmlsbC1vcGFjaXR5PSIwLjkiIHRyYW5zZm9ybT0icm90YXRlKDMzMCA2NCA2NCkiLz48YW5pbWF0%0D%0AZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgdmFsdWVz%0D%0APSIwIDY0IDY0OzMwIDY0IDY0OzYwIDY0IDY0OzkwIDY0IDY0OzEyMCA2NCA2NDsxNTAgNjQgNjQ7%0D%0AMTgwIDY0IDY0OzIxMCA2NCA2NDsyNDAgNjQgNjQ7MjcwIDY0IDY0OzMwMCA2NCA2NDszMzAgNjQg%0D%0ANjQiIGNhbGNNb2RlPSJkaXNjcmV0ZSIgZHVyPSIxMDgwbXMiIHJlcGVhdENvdW50PSJpbmRlZmlu%0D%0AaXRlIj48L2FuaW1hdGVUcmFuc2Zvcm0+PC9nPjwvc3ZnPg0K') center center no-repeat;
                position: relative;
            }
            &__pic-frame__inner-shadow {
                position: absolute;
                height: 120%;
                width: 100%;
                left: 0;
                bottom: -195px;
                background: linear-gradient(to top, transparentize(darken($global-sky-blue-NY, 40%), .35) 5%, rgba(0,0,0,0));
                transition: all .9s ease-out;
                z-index: 3;
            }
            &__pic-frame__pic {
                @include for-landscape-phones-and-smaller {
                    height: inherit;
                }
                width: inherit;
                height: auto;
                object-fit: cover;
            }
            &__pic-frame__desc {
                @include for-landscape-phones-and-smaller {
                    width: 80%;
                }
                position: absolute;
                z-index: 9;
                bottom: 0;
                right: 0;
                margin-left: 20px;
                width: 320px;
                border-top: 1px solid transparentize($global-gold-NY, .15);
                border-left: 1px solid transparentize($global-gold-NY, .15);
                border-top-left-radius: 3px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 5px;
                padding-right: 5px;
                background: linear-gradient(to bottom, transparentize(darken($global-red-NY, 20%), .35), transparentize(darken($global-red-NY, 10%), .5));
                opacity: 0;
                transform: translateY(350px);
                transition: all .4s ease-out;
            }
            &__pic-frame__info-line {
                @include for-landscape-phones-and-smaller {
                    font-size: 12px;
                    line-height: 15px;
                }
                color: lighten($global-gold-NY, 22%);
                line-height: 20px;
                font-size: 16px;
                font-style: italic;
                opacity: 0;
            }
            &__question {
                @include for-landscape-phones-and-smaller {
                    height: 35px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparentize(darken($global-blue-NY, 40%), .6);
                border-top: 2px solid $global-gold-NY;
                border-bottom: 2px solid $global-gold-NY;
                height: 50px;
                & p {
                    @include for-landscape-phones-and-smaller {
                        font-size: 13px;
                    }
                    font-size: 20px;
                    font-weight: bold;
                    color: lighten($global-gold-NY, 22%);
                    & i {
                        @include for-landscape-phones-and-smaller {
                            margin-left: 3px;
                        }
                        margin-left: 5px;
                    }
                }
            }
            &__answers-variants__container {
                @include for-landscape-phones-and-smaller {
                    transform: translateY(20%);
                }
                transform: translateY(40%);
                transition: all .2s ease-out;
            }
            &__answers-variants__list {
                @include for-landscape-phones-and-smaller {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4, 40px);
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @include clear-list;
                margin-top: 10px;
                margin-bottom: 10px;
                display: grid;
                grid-gap: 15px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 50px 50px;
                justify-items: center;
                align-items: center;
                padding-left: 40px;
                padding-right: 40px;
            }
            &__answers-variants__item {
                @include for-landscape-phones-and-smaller {
                    font-size: 13px;
                }
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparentize(lighten($global-gold-NY, 20%), .15);
                cursor: pointer;
                color: darken($global-gold-NY, 28%);
                font-size: 16px;
                font-weight: bold;
                border: 1px solid $global-gold-NY;
                transition: all .125s ease-out;
                border-radius: 4px;
                box-shadow: 0 0.5px 2px rgba(0,0,0,0.15);
                &:nth-child(1) {
                    @include for-landscape-phones-and-smaller {
                        border-radius: 4px;
                    }
                    border-top-left-radius: 10px;
                }
                &:nth-child(2) {
                    @include for-landscape-phones-and-smaller {
                        border-radius: 4px;
                    }
                    border-top-right-radius: 10px;
                }
                &:nth-child(3) {
                    @include for-landscape-phones-and-smaller {
                        border-radius: 4px;
                    }
                    border-bottom-left-radius: 10px;
                }
                &:nth-child(4) {
                    @include for-landscape-phones-and-smaller {
                        border-radius: 4px;
                    }
                    border-bottom-right-radius: 10px;
                }
                &:hover {
                    background-color: transparentize(lighten($global-gold-NY, 27%), .1);
                }
            }
        }
        .controls-box {
            display: flex;
            justify-content: center;
            &__game-next-btn {
                @include for-landscape-phones-and-smaller {
                    width: 200px;
                    height: 45px;
                    font-size: 16px;
                }
                width: 290px;
                height: 65px;
                display: none;
                cursor: pointer;
                outline: none;
                font-size: 24px;
                background: linear-gradient(to right, transparentize($global-red-NY, .4), darken($global-red-NY, 20%));
                border: 2px solid lighten($global-gold-NY, 20%);
                border-radius: 4px;
                color: lighten($global-gold-NY, 22%);
                box-shadow: 0 1px 3px rgba(0,0,0,0.25);
                margin-top: 10px;
                margin-bottom: 10px;
                animation: element-move .55s ease-in;
                animation-direction: reverse;
                transition: all .2s ease-out;
                & i {
                    margin-left: 5px;
                    transform: translateY(2px);
                }
                &:hover {
                    transform: scale(1.025);
                }
            }
            &__game-show-result-btn {
                @extend .controls-box__game-next-btn;
                @include for-landscape-phones-and-smaller {
                    width: 220px;
                    height: 55px;
                    font-size: 16px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                width: 320px;
                font-size: 24px;
                & i {
                    @include for-landscape-phones-and-smaller {
                        font-size: 18px;
                    }
                    font-size: 20px;
                    margin-left: 10px;
                    transform: translateY(0);
                }
            }
        }
    }
    &__result {
        @include for-landscape-phones-and-smaller {
            background-position: center center;
        }
        position: relative;
        display: none;
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        min-height: inherit;
        max-height: inherit;
        flex-direction: column;
        overflow: hidden;
        .result-inner-shadow {
            position: absolute;
            width: 100%;
            height: 110%;
            bottom: -50px;
            left: 0;
            z-index: 6;
            background: linear-gradient(rgba(255,255,255,0.7), darken(transparentize($global-red-NY, .3), 45%));
        }
        .results-values {
            @include for-landscape-phones-and-smaller {
                margin-top: 100px;
                width: 100%;
                margin-left: 0;
            }
            margin-top: 125px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            width: 320px;
            order: 0;
            position: relative;
            z-index: 29;
            color: darken($global-red-NY, 10%);
            font-weight: bold;
            font-size: 40px;
            text-shadow: 0 1px 2px rgba(0,0,0,0.15);
            &__correct-answers {
                text-shadow: 0 1px 3px rgba(0,0,0,0.35);
                position: relative;
                z-index: 29;
                margin-right: 10px;
                color: lighten($global-gold-NY, 22%);
                font-size: 46px;
                padding-left: 20px;
                border-left: 5px dotted darken(lighten($global-gold-NY, 22%), 5%);
            }
            &__in-total-answers {
                text-shadow: 0 1px 3px rgba(0,0,0,0.35);
                position: relative;
                z-index: 29;
                margin-left: 10px;
                font-size: 46px;
                color: lighten($global-gold-NY, 22%);
                padding-right: 20px;
                border-right: 5px dotted darken(lighten($global-gold-NY, 22%), 5%);
            }
        }
        .info-box {
            @include for-landscape-phones-and-smaller {
                width: calc(100% - 20px);
                border-top: 0;
                background: darken(transparentize($global-sky-blue-NY, .7), 30%);
                border-radius: 3px;
                margin: 0 auto;
                padding: 0;
            }
            position: relative;
            z-index: 29;
            order: 1;
            border-top: 3px solid transparentize(lighten($global-gold-NY, 20%), .25);
            margin-left: 20px;
            width: 330px;
            padding: 0;
            background: linear-gradient(to bottom, darken(transparentize($global-sky-blue-NY, .5), 30%), darken(transparentize($global-blue-NY, .7), 20%), rgba(0,0,0,.0));
            &__desc {
                @include for-landscape-phones-and-smaller {
                    width: calc(100% - 20px);
                    font-size: 12px;
                    line-height: 14px;
                    padding: 10px 5px 10px 5px;
                }
                font-size: 14px;
                line-height: 24px;
                order: 1;
                color: lighten($global-gold-NY, 25%);
                width: 310px;
                line-height: 24px;
                padding-top: 15px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .controls-box {
            @include for-landscape-phones-and-smaller {
                width: auto;
                height: 45px;
                margin-top: 20px;
                margin-left: 10px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
            }
            position: relative;
            z-index: 29;
            margin-left: 20px;
            margin-top: 25px;
            width: 330px;
            height: 65px;
            order: 2;
            &__game-reload-btn {
                @include for-landscape-phones-and-smaller {
                    font-size: 20px;
                    width: auto;
                    margin: 0 auto;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                cursor: pointer;
                outline: none;
                font-size: 26px;
                font-weight: bold;
                width: inherit;
                height: inherit;
                background: linear-gradient(to right, transparentize($global-red-NY, .65), darken($global-red-NY, 15%));
                border: 2px solid lighten($global-gold-NY, 15%);
                border-radius: 4px;
                color: lighten($global-gold-NY, 22%);
                box-shadow: 0 1px 3px rgba(0,0,0,0.25);
                transition: all .2s ease-out;
                &:hover {
                    background: linear-gradient(to right, transparentize($global-gold-NY, .5), darken($global-red-NY, 10%));
                    transform: rotate(-6deg);
                    & i {
                        transform: scale(1.22) rotate(340deg);
                        margin-left: 10px;
                    }
                }
                & i {
                    @include for-landscape-phones-and-smaller {
                        font-size: 17px;
                        margin-left: 3px;
                    }
                    margin-left: 5px;
                    font-size: 26px;
                    transition: all .2s ease-out;
                }
            }
        }
        .soc-net-share-box {
            @include for-landscape-phones-and-smaller {
                width: 100%;
                margin-top: 30px;
                align-items: center;
                margin-left: 0;
            }
            position: relative;
            z-index: 29;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 330px;
            margin-top: 25px;
            margin-left: 20px;
            &__desc {
                font-size: 14px;
                color: lighten($global-gold-NY, 22%);
                margin-bottom: 5px;
            }
            &__list {
                @include for-landscape-phones-and-smaller {
                    width: inherit;
                    justify-content: center;
                }
                @include clear-list;
                display: flex;
            }
            &__item {
                border-radius: 50%;
                margin: 5px;
                min-width: 35px;
                min-height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 0 1px 3px rgba(0,0,0,0.45);
                transition: all .115s linear;
                & i {
                    font-size: 16px;
                }
            }
            &__item--vk {
                background-color: darken($global-red-NY, 7%);
                color: lighten($global-gold-NY, 20%);
                &:hover {
                    background-color: lighten($global-red-NY, 3%);
                }
                &:active {
                    background-color: lighten($global-vk, 10%);
                }
            }
            &__item--fa {
                background-color: darken($global-red-NY, 7%);;
                color: lighten($global-gold-NY, 20%);
                &:hover {
                    background-color: lighten($global-red-NY, 3%);
                }
                &:active {
                    background-color: lighten($global-fa, 10%);
                }
            }
            &__item--tw {
                background-color: darken($global-red-NY, 7%);
                color: lighten($global-gold-NY, 20%);
                &:hover {
                    background-color: lighten($global-red-NY, 3%);
                }
                &:active {
                    background-color: lighten($global-tw, 10%);
                }
            }
            &__item--te {
                background-color: darken($global-red-NY, 7%);
                color: lighten($global-gold-NY, 20%);
                &:hover {
                    background-color: lighten($global-red-NY, 3%);
                }
                &:active {
                    background-color: lighten($global-te, 10%);
                }
            }
        }
    }
}

// Actions Styles
.game-actions {
    &__displaying-off {
        display: none !important;
    }
    &__displaying-on {
        display: block !important;
    }
    &__displaying-off--flex {
        display: none !important;
    }
    &__displaying-on--flex {
        display: flex !important;
    }
    &__correct-answer {
        color: lighten($global-gold-NY, 22%) !important;
        background: linear-gradient(to right, transparentize(lighten($global-green-NY, 5%), .15), darken($global-green-NY, 10%), transparentize(lighten($global-green-NY, 5%), .15)) !important;
    }
    &__wrong-answer {
        animation: fuzZz-move .5s ease-out;
        animation-direction: reverse;
        color: lighten($global-gold-NY, 22%) !important;
        background: linear-gradient(to right, transparentize(lighten($global-red-NY, 5%), .15), darken($global-red-NY, 10%), transparentize(lighten($global-red-NY, 5%), .15)) !important;
    }
    &__answers-variants-list-up {
        transform: translateY(0) !important;
    }
}
