@import '../partials/_params.scss';
@import '../partials/_mixins.scss';

// Section Styles
.map--salutes {
    @include clear;

    &__content {
        @include for-landscape-phones-and-portrait-tablets {
            height: 585px;
        }
        @include for-landscape-phones-and-smaller {
            height: 485px;
            width: 90%;
            margin: 20px auto;
            border-radius: 4px;
        }
        margin: 20px auto;
        width: 90%;
        max-width: 100%;
        height: 600px;
        border-radius: 4px;
        border: 1px solid $global-gold-NY;
    }
}

// Salutes Popup Styles
.salutes-popup {
    @include for-landscape-phones-and-portrait-tablets {
        width: 180px;
        padding-right: 20px;
        font-size: 14px;
    }
    @include for-landscape-phones-and-smaller {
        width: 180px;
        padding-right: 20px;
        font-size: 14px;
    }
    width: 320px;
    padding-right: 30px;
    font-size: 16px;
    &__name {
        padding-top: 5px;
        padding-bottom: 5px;
        & span:first-child {
            display: block;
            font-size: 13px;
            @include for-landscape-phones-and-portrait-tablets {
                display: block;
                font-size: 12px;
            }
            @include for-landscape-phones-and-smaller {
                display: block;
                font-size: 12px;
            }
            color: lighten($global-gold-NY, 5%);
        }
        & span:last-child {

        }
    }
    &__address {
        padding-top: 5px;
        padding-bottom: 5px;
        & span:first-child {
            display: block;
            font-size: 13px;
            @include for-landscape-phones-and-portrait-tablets {
                display: block;
                font-size: 12px;
            }
            @include for-landscape-phones-and-smaller {
                display: block;
                font-size: 12px;
            }
            color: lighten($global-gold-NY, 5%);
        }
        & span:last-child {

        }
    }
    &__desc {
        padding-top: 5px;
        padding-bottom: 5px;
        & span:first-child {
            display: block;
            font-size: 13px;
            @include for-landscape-phones-and-portrait-tablets {
                display: block;
                font-size: 12px;
            }
            @include for-landscape-phones-and-smaller {
                display: block;
                font-size: 12px;
            }
            color: lighten($global-gold-NY, 5%);
        }
        & span:last-child {

        }
    }
}
