@import '../partials/_params.scss';
@import '../partials/_mixins.scss';

// Section Styles
.map--skating-rinks {
    @include clear;

    &__content {
        @include for-landscape-phones-and-portrait-tablets {
            height: 585px;
        };
        @include for-landscape-phones-and-smaller {
            height: 585px;
            width: 90%;
            margin: 20px auto;
            border-radius: 4px;
        }
        margin: 20px auto;
        width: 90%;
        max-width: 100%;
        height: 600px;
        border-radius: 4px;
        border: 1px solid $global-gold-NY;
    }
}

// 2GIS Map Styles
.leaflet-popup {
    background-color: transparent;

    .leaflet-popup-content-wrapper {
        @include for-landscape-phones-and-portrait-tablets {
            height: auto !important;
            min-width: 220px;
        };
        @include for-landscape-phones-and-smaller {
            height: auto !important;
            min-width: 220px;
        }
        width: auto !important;
        transform: translateY(3px);
        background-color: $global-red-NY;
        color: $global-white;
    }

    .leaflet-popup-tip-container_svg {
        fill: $global-red-NY !important;
    }

    .leaflet-popup-close-button {
        font-size: 22px !important;
        color: $global-white !important;
    }
}

.marker-cluster-medium {
    width: 32px !important;
    height: 32px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.marker-cluster-small {
    width: 25px !important;
    height: 25px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.marker-cluster {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: $global-red-NY;
    border-radius: 50%;
    border: 3px solid lighten($global-gold-NY, 5%);
    color: lighten($global-gold-NY, 15%);
    opacity: .9;

    & div {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: inherit;
        color: lighten($global-gold-NY, 15%);

        & span {
            font-size: 14px;
            color: lighten($global-gold-NY, 15%);
        }
    }
}

.leaflet-marker-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dg-control-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px !important;
    height: 35px !important;
    background-color: darken($global-red-NY, 10%) !important;
    border: 4px solid lighten($global-gold-NY, 10%);
    opacity: .9;
    &::after {
        opacity: .2;
    }
}

.dg-zoom__out {
    transform: translateY(25px);
}

// Skating Rinks Popup Styles
.skating-rinks-popup {
    @include for-landscape-phones-and-portrait-tablets {
        font-size: 14px;
    }
    @include for-landscape-phones-and-smaller {
        font-size: 14px;
    }
    font-size: 16px;

    &__row-1 {
        @include for-landscape-phones-and-portrait-tablets {
            flex-direction: column;
            padding: 0;
            margin: 0;
            align-items: flex-start;
            justify-content: flex-start;
        }
        @include for-landscape-phones-and-smaller {
            flex-direction: column;
            padding: 0;
            margin: 0;
            align-items: flex-start;
            justify-content: flex-start;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__col-1 {
        @include for-landscape-phones-and-portrait-tablets {
            order: 1;
        }
        @include for-landscape-phones-and-smaller {
            order: 1;
        }
    }
    &__col-2 {
        @include for-landscape-phones-and-portrait-tablets {
            order: 0;
        }
        @include for-landscape-phones-and-smaller {
            order: 0;
        }
    }

    &__address {
        padding-top: 10px;
        padding-bottom: 5px;
        & span:first-child {
            @include for-landscape-phones-and-portrait-tablets {
                display: block;
                font-size: 12px;
            }
            @include for-landscape-phones-and-smaller {
                display: block;
                font-size: 12px;
            }
            color: lighten($global-gold-NY, 5%);
        }
        & span:last-child {

        }
    }
    &__paid {
        padding-top: 5px;
        padding-bottom: 5px;
        & span:first-child {
            @include for-landscape-phones-and-portrait-tablets {
                display: block;
                font-size: 12px;
            }
            @include for-landscape-phones-and-smaller {
                display: block;
                font-size: 12px;
            }
            color: lighten($global-gold-NY, 5%);
        }
        & span:last-child {

        }
    }
    &__usage-period {
        padding-top: 5px;
        padding-bottom: 5px;
        & span:first-child {
            @include for-landscape-phones-and-portrait-tablets {
                display: block;
                font-size: 12px;
            }
            @include for-landscape-phones-and-smaller {
                display: block;
                font-size: 12px;
            }
            color: lighten($global-gold-NY, 5%);
        }
        & span:last-child {

        }
    }
    &__working-hours-box {
        padding-top: 5px;
        padding-bottom: 5px;

    }
    &__working-hours-desc {
        color: lighten($global-gold-NY, 5%);
    }
    &__working-hours-list {
        @include for-landscape-phones-and-portrait-tablets {
            flex-direction: column;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        @include for-landscape-phones-and-smaller {
            flex-direction: column;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        @include clear-list;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        background-color: darken($global-red-NY, 5%);
        border-radius: 3px;
    }
    &__working-hours-item {
        @include for-landscape-phones-and-portrait-tablets {
            margin-bottom: 5px;
            padding-right: 0;
            font-size: 12px;
            flex-direction: row;
        }
        @include for-landscape-phones-and-smaller {
            margin-bottom: 5px;
            padding-right: 0;
            font-size: 12px;
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 15px;
        font-size: 12px;
        & span:first-child {
            @include for-landscape-phones-and-portrait-tablets {
                border-bottom: none;
                margin-bottom: 0;
                text-align: left;
                margin-right: 5px;
            }
            @include for-landscape-phones-and-smaller {
                border-bottom: none;
                margin-bottom: 0;
                text-align: left;
                margin-right: 5px;
            }
            display: block;
            color: lighten($global-gold-NY, 5%);
            font-weight: bold;
            margin-bottom: 5px;
            text-align: center;
            padding-bottom: 3px;
            border-bottom: 1px solid lighten($global-gold-NY, 10%);
        }
        & span:last-child {
            @include for-landscape-phones-and-portrait-tablets {
                margin-bottom: 5px;
                text-align: left;
            }
            @include for-landscape-phones-and-smaller {
                margin-bottom: 5px;
                text-align: left;
            }
            display: block;
            text-align: center;
            white-space: nowrap;
        }
        &:last-child {
            padding-right: 5px;
            @include for-landscape-phones-and-portrait-tablets {
                margin-bottom: 0;
            }
            @include for-landscape-phones-and-smaller {
                margin-bottom: 0;
            }
        }
    }
    &__working-hours-item--weekends {
        & span:first-child {
        }
        & span:last-child {
        }
    }
    &__phone {
        padding-top: 5px;
        padding-bottom: 5px;
        & span:first-child {
            @include for-landscape-phones-and-portrait-tablets {
                display: block;
                font-size: 12px;
            }
            @include for-landscape-phones-and-smaller {
                display: block;
                font-size: 12px;
            }
            color: lighten($global-gold-NY, 5%);
        }
        & span:last-child {

        }
    }
    &__photo-box {
        @include for-landscape-phones-and-portrait-tablets {
            margin-right: 0;
            width: 190px;
            margin-top: 20px;
        }
        @include for-landscape-phones-and-smaller {
            margin-right: 0;
            width: 190px;
            margin-top: 20px;
        }
        display: block;
        margin-right: 10px;
        padding: 5px;
        border: 3px solid lighten($global-gold-NY, 5%);
        border-radius: 3px;
        width: 125px;
        height: 90px;
        cursor: pointer;
        & img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: 3px;
        }
    }
}

// Skating Rinks Label Styles
.hint-content {
    color: lighten($global-gold-NY, 5%);
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
