@import './partials/_params.scss';
@import './partials/_mixins.scss';
@import './partials/_animations.scss';
@import './sections/game--movies.scss';
@import './sections/map--skating-rinks.scss';
@import './sections/map--salutes.scss';

.view-port {
    max-width: $global-view-port;
    margin: 0 auto;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}
     
